.keyboard {
	display: flex;
	flex-wrap: wrap;
	column-gap: 7px;
	row-gap: 10px;
	background-color: darkgray;
  padding: 5px;
  border-radius: 10px;
}
#Capa_1 {
	width: 10px;
	height: 10px;
}
.keyboard__btn {
	background-color: gray;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-out;
	box-shadow: inset 1px 1px 0px;
}
.keyboard__btn:hover {
	background-color: blue;
}
.keyboard__btn_color {
	background-color: black;
	color: rgb(181, 190, 187);
}
.keyboard__btn_activ {
	background-color: blue;
	border-radius: 25px;
	
}